*{
  padding: 0;
  margin: 0;
}
body {
background-color: #6C5CFC;
  height: 100%;
  cursor: none;
}   
.some {
  height: 54px;
  width: 265px;
  background-color:#6C5CFC;
  position: relative;
  top: 73.7vh;
  left: 65vw;
  z-index: 100;
}  
